{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/student_list/">список студентов</a>
        <br>
		<a href="/create_student/">создать студента</a>
	</div>
    <h3 class="mt-4">Добавление студента на курс</h3>
    <form method="post">
        <select class="form-select w-50" name="course">
            <option selected>Выберите курс</option>
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select class="form-select mt-3 w-50" name="student_id">
            <option selected>Выберите студента</option>
            {% for item in students %}
            <option value="{{item.id}}">{{item.id}} {{item.name}}</option>
            {% endfor %}
        </select>
        <button class="mt-3" type="submit">Записать</button>
    </form>
{% endblock %}