{% extends "base.html" %}
{% block title %}
    Список курсов
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div class="">
        <a href="/">назад</a>
        <h3>Список категорий</h3>
        <ul>
            {% for item in objects_list %}
            <li>
                {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
                <a href="courses-list/?id={{item.id}}">Показать курсы</a>
                <a href="/create-course/?id={{item.id}}">Создать курс</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}