{% extends "base.html" %}
{% block title %}
    Список курсов
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div>
         <a href="/create_course/">создать новый курс</a>
    </div>
    <div>
        <h3 class="mt-4">Список категорий</h3>
        <ul>
            {% for item in objects_list %}
            <li>
                {{item.name}}
                <a class="mx-2" href="/courses_list/?id={{item.id}}">Показать курсы</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}