{% extends "base.html" %}
{% block title %}
    Список курсов
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/create_course/?id={{id}}">cоздать новый курс</a>
        <br>
        <h3 class="mt-4">Список курсов для категории "{{name}}"</h3>
        <ul>
            {% for item in objects_list %}
                <li>
                    {{item.name}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}