<div class="table-responsive">
    <h3 class="text-center mt-4">Программы обучения</h3>
    <table class="table table caption-top table-bordered table-hover table-light shadow-lg p-3 mb-5 bg-body rounded fw-light">
        <caption>Расписание действует на: {{data}}</caption>
        <thead>
        <tr>
            <th></th>
            <th>Москва</th>
            <th>Санкт-Петербург</th>
            <th>Екатеринбург</th>
        </tr>
        <tr>
        </thead>
        <tbody>
        <tr>
            <th>Перспектива программирования</th>
            <td>Сб, 20 февраля 2021<br/>11:00 - 14:00</td>
            <td>Сб, 6 марта 2021<br/>11:00 - 14:00</td>
            <td>Сб, 20 марта 2021<br/>11:00 - 14:00</td>
        </tr>
        <tr>
            <th>Программируем на ...</th>
            <td>Сб, 10 апреля 2021<br/>11:00 - 13:00</td>
            <td>Сб, 1 мая 2021<br/>11:00 - 13:00</td>
            <td>Сб, 8 мая 2021<br/>11:00 - 13:00</td>
        </tr>
        <tr>
            <th>Приложения для ...</th>
            <td>Сб, 26 июня 2021<br/>11:00 - 14:00</td>
            <td>Сб, 3 июля 2021<br/>11:00 - 14:00</td>
            <td>Сб, 10 июля 2021<br/>11:00 - 14:00</td>
        </tr>
        <tr>
            <th>WEB для всех</th>
            <td>Сб, 28 августа 2021<br/>11:00 - 16:00</td>
            <td>Сб, 4 сентября 2021<br/>11:00 - 16:00</td>
            <td>Сб, 11 сентября 2021<br/>11:00 - 16:00</td>
        </tr>
        </tbody>
    </table>
    <div class="w-50">
        <form action="" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Ваше имя</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Ваш email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Локация</label>
                <select class="form-select" id="location">
                    <option value="msk">Москва</option>
                    <option value="spb">Санкт-Петербург</option>
                    <option value="ekb">Екатеринбург</option>
                </select>
            </div>
            <span class="me-3">Являетесь участником?</span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="member-yes" value="Yes">
                <label class="form-check-label" for="member-yes">Да</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="member-no" value="No">
                <label class="form-check-label" for="member-no">Нет</label>
            </div>
            <button type="button" class="btn text-info border">Регистрация</button>
        </form>
    </div>
</div>
