{% extends "base.html" %}
{% block title %}
    Главная страница
{% endblock %}
{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div class="d-grid gap-2 col-5 mx-auto">
        <a class="btn btn-light border shadow-sm p-3 mt-5 bg-body rounded" type="submit" href="create-category">
            Создать новую категорию
        </a>
        <a class="btn btn-light border shadow-sm p-3 mt-3 bg-body rounded" type="submit" href="category-list">
            Список существующих категорий
        </a>
        <a class="btn btn-light border shadow-sm p-3 mt-3 bg-body rounded" type="submit" href="student-list">
            Список студентов</a>
        <a class="btn btn-light border shadow-sm p-3 mt-3 bg-body rounded" type="submit" href="create-student">
            Создать студента</a>
        <a class="btn btn-light border shadow-sm p-3 mt-3 bg-body rounded" type="submit" href="add-student">
            Добавить студента на курс</a>
    </div>
{% endblock %}
