{% extends "base.html" %}
{% block title %}
    Создание студента
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<ul class="nav-item">
            <li class="nav-link">
			    <a href="/create-student/">Создать студента</a>
		    </li>
            <li class="nav-link">
                <a href="/add-student/">Добавить студента на курс</a>
            </li>
        </ul>
	</div>
    <div class="mt-3 mx-auto w-50 text-center">
        <h3>Список студентов</h3>
        <ul class="list-group">
            {% for item in objects_list %}
            <li class="list-group-item">
                {{item.name}}
                {% for course in item.courses %}
                    {{course.name}}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}